<h2>Editar Usuario</h2>
<form method="post" action="{% url 'editar_usuario' usuario.id %}">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}">
    <br>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" value="{{ usuario.apellido }}">
    <br>
    <label for="categoria">Categoría:</label>
    <select id="categoria" name="categoria">
        {% for categoria in categorias %}
            <option value="{{ categoria }}" {% if usuario.categoria == categoria %} selected {% endif %}>{{ categoria }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" value="{{ usuario.edad }}">
    <br>
    <label for="documento">Documento:</label>
    <input type="text" id="documento" name="documento" value="{{ usuario.documento }}">
    <br>
    <button type="submit">Guardar Cambios</button>
</form>

