{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'main.js' %}" defer></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static "images/logo-1(1).ico" %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class = "nav__menu">
    {% include "layouts/partials/menu-principal.html" %}
</header>
{% block content %}

{% endblock %}

</body>
</html>