{% extends "layouts/app.html" %}
{% load static %}
{% block title %} 
Categorias
{% endblock %}

{% block content %}

<div class="card__container">
  <div class="card card__img1">
    <div class="card-content">
      <h2>Categoría Sub Baby</h2>
      <p>Introducción a los más pequeños con actividades lúdicas y enseñanza básica.</p>
      <div class="overlay">
        <p>Inicia a tu pequeño en el fútbol.</p>
      </div>
    </div>
  </div>

  <div class="card card__img2">
    <div class="card-content">
      <h2>Categoría Femenina</h2>
      <p>Las mujeres compiten y se desarrollan en el fútbol con dedicación y espíritu de equipo.</p>
      <div class="overlay">
        <p>Únete a nuestro equipo femenino.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img3">
    <div class="card-content">
      <h2>Categoría Sub 8</h2>
      <p>Fomenta el aprendizaje en un ambiente divertido y seguro.</p>
      <div class="overlay">
        <p>Desarrolla habilidades tempranas.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img4">
    <div class="card-content">
      <h2>Categoría Sub 10</h2>
      <p>Desarrollo de técnicas básicas y trabajo en equipo.</p>
      <div class="overlay">
        <p>Mejora tus habilidades.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img5">
    <div class="card-content">
      <h2>Categoría Sub 11</h2>
      <p>Desarrollo de habilidades técnicas y competitividad.</p>
      <div class="overlay">
        <p>Aprende con los mejores.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img6">
    <div class="card-content">
      <h2>Categoría Sub 12</h2>
      <p>Refuerza la técnica y la táctica, enfocándose en el trabajo en equipo.</p>
      <div class="overlay">
        <p>Eleva tu juego.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img7">
    <div class="card-content">
      <h2>Categoría Sub 13</h2>
      <p>Perfecciona tu estilo y habilidades específicas.</p>
      <div class="overlay">
        <p>Da un paso adelante.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img8">
    <div class="card-content">
      <h2>Categoría Sub 14</h2>
      <p>Fortalece la preparación física y el conocimiento del juego.</p>
      <div class="overlay">
        <p>Desarrolla tu potencial.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img9">
    <div class="card-content">
      <h2>Categoría Sub 15</h2>
      <p>Enfrenta partidos competitivos y domina técnicas avanzadas.</p>
      <div class="overlay">
        <p>Avanza hacia la excelencia.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img0">
    <div class="card-content">
      <h2>Categoría Sub 16</h2>
      <p>Prepárate para niveles superiores con entrenamientos intensos.</p>
      <div class="overlay">
        <p>Alcanza tu máximo potencial.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img01">
    <div class="card-content">
      <h2>Categoría Ascenso</h2>
      <p>Una categoría para jugadores en crecimiento, buscando llegar a la primera.</p>
      <div class="overlay">
        <p>Apunta alto.</p>
      </div>
    </div>
  </div>
  
  <div class="card card__img02">
    <div class="card-content">
      <h2>Categoría Primera</h2>
      <p>Representa el nivel más alto, con los jugadores más experimentados y talentosos.</p>
      <div class="overlay">
        <p>Compite al máximo nivel.</p>
      </div>
    </div>
  </div>
  
</div>


  
{% endblock %}