{% extends "layouts/app.html" %}
{% load static %}
{% block title %} 
Categorias
{% endblock %}

{% block content %}

<div class="card__container">
  <div class="card card__img1">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <button class="overlay-btn">
        <span class="overlay-icon">+</span>
      </button>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img2">
    <div class="card-content">
      <h2>Categoria Femenina</h2>
      <p>La categoria akjshdkajhsdkajhsdkajhsdkjahsd</p>
      <div class="overlay">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta, autem repudiandae ex necessitatibus corrupti.</p>
      </div>
    </div>
  </div>
  <div class="card card__img3">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img4">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img5">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img6">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img7">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img8">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img9">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img0">
    <div class="card-content">
      <h2>Categoria Primera</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
  <div class="card card__img01">
    <div class="card-content">
      <h2>Categoria Sub-Baby</h2>
      <p>Contenido de la Card</p>
      <div class="overlay">
        <p>Texto informativo</p>
      </div>
    </div>
  </div>
</div>

  
{% endblock %}