{% extends "layouts/app.html" %} {% load static %} {% block title %} Documentos
{% endblock %} 
{% block content %}

<table id="documentos">
  <tbody>
    <tr class="title__table">
      <td>Documento</td>
      <td>Descripción</td>
      <td>Fecha Publicación</td>
    </tr>
    <tr>
      <td><a href="../static/documents/Informe de gestion.pdf" target="_blank">Informe de Gestion No. 1</a></td>
      <td>Informe anual de Gestión 2017</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ASIGNACIONES PERMANENTES.pdf" target="_blank">Asignaciones Permanentes</a></td>
      <td>Asignaciones Permanentes</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ESTATUTOS LEONES.pdf" target="_blank">Estatuto Leones</a></td>
      <td>Estatuto Club Leones de Floridablanca</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/CERTIFICACION ANTECEDENTES JUDICIALES.pdf" target="_blank">Antecedentes Judicales</a></td>
      <td>Certificacion Antecedentes Judiciales</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ACTA AUTORIZACION ESAL.pdf" target="_blank">Acta de Asamblea de Autorizacion</a></td>
      <td>Acta de Asamblea de Autorización ESAL</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ACTA DESTINACION BENEFICIO 2017.pdf" target="_blank">Acta Destinacion Beneficio 20</a></td>
      <td>Acta de Destinación de Beneficios 2017</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ACTA AUTORIZACION ESAL.pdf" target="_blank">Acta de Autorizacion ESAL</a></td>
      <td>Acta Autorización ESAL</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/cert de existencia y representacion legal.pdf" target="_blank">Existencia y Representacion</a></td>
      <td>certificado de existencia y representación legal</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ACTA DE CONSTITUCION.pdf" target="_blank">Acta de Constitucion No. 1</a></td>
      <td>Acta de Constitución Nro 1</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/CERTIFIACIONREQUISITOS ESAL.pdf" target="_blank">Certificacion Requisitos ESAL</a></td>
      <td>Certificación Requisitos ESAL</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/estados financieros 2017.pdf" target="_blank">Estados Financieros 2017</a></td>
      <td>Declaración de renta y estados financieros 2017</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ACTA DISTRIBUCION DE BENEFICIOS.pdf" target="_blank">Acta Distribucion de Beneficios</a></td>
      <td>ACTA DISTRIBUCION DE BENEFICIOS 2019</td>
      <td>2018-05-01</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ACTA ASAMBLEA 2019.pdf" target="_blank">Acta Asamblea 2019</a></td>
      <td>ACTA ASAMBLEA GENERAL 2019</td>
      <td>2018-05-01</td>
    </tr>
    <tr>
      <td><a href="../static/documents/AUTORIZACION ACTUALIZACION ESAL 2019.pdf" target="_blank">Autorizacion Actualizacion ESAL</a></td>
      <td>COPIA ACTA PARA ACTUALIZAR ESAL 2019</td>
      <td>2018-05-01</td>
    </tr>
    <tr>
      <td><a href="../static/documents/ESTADOS FINANCIEROS 2018.pdf" target="_blank">ESTADOS FINANCIEROS 2018</a></td>
      <td>ESTADOS FINANCIEROS 2018</td>
      <td>2018-05-01</td>
    </tr>
    <tr>
      <td><a href="../static/documents/CERTIFICADOS ANTECEDENTES JUDICIALES.pdf" target="_blank">Certificados Antecedentes Judicales</a></td>
      <td>CERTIFICACION DE ANTECEDENTES JUDICIALES JUNTA</td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/INFORME ANUAL DE RESULTADOS 2019.pdf" target="_blank">Informe Anual de resultados</a></td>
      <td>INFORME DE RESULTADOS CLUB DE FUTBOL LEONES </td>
      <td>2018-05-02</td>
    </tr>
    <tr>
      <td><a href="../static/documents/CERTIFICADOS ANTECEDENTES JUDICIALES_ 2.pdf" target="_blank">Certificados Antecedentes Judicales</a></td>
      <td>CERTIFICACION DE ANTECEDENTES JUDICIALES JUNT</td>
      <td>2018-05-02</td>
    </tr>
  </tbody>
</table>



{% endblock %}
