{% extends "layouts/app.html" %}
{% load static %}
{% block title %} 
Leones de Floridablanca
{% endblock %}

{% block content %}


<section class="container">
    
    <div class="container__index">
        <h1 class="title__container">
            Club de Futbol Leones de Floridablanca
        </h1>
        <p class="container__paragraph">
            Mientras mas sueñes, mas lejos llegas. 
        </p>
    </div>
    
</section>

<section class="secction__about">
    <div class="conatiner__about">
        <h3 class="title__about">¿Quienes Somos?</h3>
        <p class="text__about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, animi rerum culpa error fugit iure 
        </p>
    </div>
</section>

<section class="section__service">
    <h3 class="title__service">Nuestros Sercivios</h3>
    <div class="service__container">

        <div class="service__info">
            <h4 class="title__services">Categorias</h4>
            <p class="service__paragraph">
                Ofrecemos categorías desde sub-baby hasta primera, incluyendo la categoría femenina. Desde los más pequeños que inician su camino en el fútbol hasta jugadores experimentados, nuestro equipo fomenta el desarrollo de habilidades y el trabajo en equipo para todas las edades y niveles.
            </p>
        </div>
    
        <div class="service__info">
    
            <h4 class="title__services">Torneos</h4>
            <p class="service__paragraph">
                ¡Compite con nosotros en los torneos más emocionantes! Desde la Liga Santandereana hasta el Torneo de la Cancha marte , participa en eventos como Baby Fútbol Colanta, Torneo Piedecuesta, Copa Bombombum y más. ¡Únete y vive la pasión del fútbol!
            </p>
        </div>
    
        <div class="service__info">
            <h4 class="title__services">Nuestras Sedes</h4>
            <p class="service__paragraph">
                Juega con nosotros en nuestras sedes: La Mecita, Bucarica y Limoncito. Disfruta del fútbol en canchas locales donde prima la pasión y el compañerismo. ¡Ven a ser parte de nuestra comunidad futbolística!
            </p>
        </div>
    </div>
</section>

<section class="woman">
    <div class="woman__container">
        <h4 class="woman__title">Nuestras Mujeres</h4>
        <p class="woman__paragraph">
            Nuestras jugadoras son el corazón de nuestro equipo. En nuestra categoría femenina, las atletas se destacan por su dedicación, habilidades y espíritu competitivo. Aquí, las mujeres tienen la oportunidad de crecer, desarrollarse y brillar en el campo. <br><br> <span class="woman__important">¡Únete y forma parte de nuestro equipo!</span>
        </p>

    </div>
    <img src="{% static "images/Soccer-cuate.svg" %}" class="woman__image" alt="">
</section>


{% endblock %}