
{% extends "layouts/principal.html" %}
{% block content %}

{% if es_profesor %}
<a href="{% url 'agregar_destacado' %}">Agregar Jugador Destacado</a>
{% endif %}
<h2>Jugadores Destacados</h2>
<div class="destacados">
    {% for jugador in jugadores_destacados %}
    <div class="jugador">
        <img src="{{ jugador.foto.url }}" alt="{{ jugador.nombre }}">
        <h3>{{ jugador.nombre }}</h3>
        <p>Categoría: {{ jugador.categoria }}</p>
        <p>Descripción: {{ jugador.descripcion }}</p>  
        {% if es_profesor %}  
        <a href="{% url 'editar_destacado' jugador.id %}">Editar</a>
        <a href="{% url 'eliminar_destacado' jugador.id %}">Eliminar</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}