{% extends "layouts/principal.html" %} {% load static %} 
{% block title %}
Listado Programaciones 
{% endblock %} 
{% block content %} 


{% if es_profesor %}
<button type="button" class="link__button"><a href="{% url 'crear_programacion' %}">Nueva programacion</a></button>
{% endif %}


<!-- Listado de programaciones -->
<h2 class="title__list title__list--color">Listado de Programaciones</h2>
<ul class="render__list">
  {% for programacion in programaciones %}
  <li class="list__option">
    {{ programacion.fecha }} a las {{ programacion.hora }} - {{ programacion.lugar }}- Categoria: {{ programacion.categoria }}
    {% if es_profesor %}
    <div class="form__option">
      <a href="{% url 'editar_programacion' programacion.id %}" class="link__option">Editar</a>
      <a href="{% url 'eliminar_programacion' programacion.id %}" class="link__option">Eliminar</a>
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}
